
    <div class="container">
<div class="my-modal">
    <div style="float:left"class="container w-50 my-modal-content">
      <h5 style="text-align: center;">User Sign Up</h5> <br>    
      <form (ngSubmit)= "onSubmit(f)" #f="ngForm"> 
        <div class="form-group">
          <label for="id">Provider Id</label>
          <input class="form-control" type="text"  id="id" name="id" ngModel >
       </div> 
        <div class="form-group">
           <label for="first_name">First Name</label>
           <input class="form-control" type="text"  id="name" name="first_Name" ngModel  #first_name="ngModel">
           <div class="text-danger" *ngIf= "first_name.errors && first_name.touched">      
            <span *ngIf= "first_name.errors['required']">First name is required</span>
            <span *ngIf= "first_name.errors['minlength']">First name is too short</span>
          </div>
        </div>
  
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input class="form-control" type="text"  id="name" name="first_Name" ngModel required maxlength="4"  #last_name="ngModel">
          <div class="text-danger" *ngIf= "last_name.errors && last_name.touched">      
           <span *ngIf= "last_name.errors['required']">Last name is required</span>
           <span *ngIf= "last_name.errors['minlength']">Last name is too short</span>
         </div>
       </div>
    
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text"  id="email" name="email" ngModel required minlength="15" #email="ngModel">
          <div class="text-danger" *ngIf= "email.errors && email.touched">      
            <span *ngIf= "email.errors['required']">First name is required</span>
          </div>
       </div>
    
       <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="text"  id="password" name="password" ngModel required maxlength="8" #password="ngModel"> 
        <div class="text-danger" *ngIf= "password.errors && password.touched">      
          <span *ngIf= "password.errors['required']">First name is required</span>        
        </div>
     </div>
    
     <div class="col-auto my-1">
      <label for="securityq2">Security Question1</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>
      <!-- <input type="text" class="form-control" id="confirm_password" name="securityq1" required ngModel #securityq1="ngModel">
      <div class="text-danger" *ngIf= "securityq1.errors && securityq1.touched">      
        <span *ngIf= "securityq1.errors['required']">security Question is required</span>
      </div>
    </div>  -->
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
      <label for="securityq2">Security Question2</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      </div>
      <!-- <input type="text" class="form-control" id="securityq2" name="securityq2" required ngModel #securityq2="ngModel">
      <div class="text-danger" *ngIf= "securityq2.errors && securityq2.touched">      
        <span *ngIf= "securityq2.errors['required']">security Question is required</span>
      </div> -->
    </div> 
    <div><img src="http://localhost:8081/user/">{{user.id}}</div>
    <button class="btn "  routerLink="/menu">{{user.last_name}}</button>
    <div *ngIf="user" class="main-div">
      <div class="card">
        
          <img style="width:64px; margin-top:5px;"src="http://localhost:8081/user/" class="header-image">
         
          
        </div>
       
      </div>
    
    <br>
    <div class="form-group">    
        <button class="btn btn-primary w-20" type="submit"[disabled]="f.invalid">Registor</button>
        &nbsp;
         <button class="btn btn-success w-30" routerLink="/products">Cancel</button>      
    </div>
    </form> 
    </div>
    </div>

   
    
  
  
   
  
