
<form (ngSubmit)="registerKitchen()" #registerForm2="ngForm" class="container">
  <h2 class="mb-3">Kitchen Details</h2>

  <div class="mb-3">
    <label class="form-label">Kitchen Working Days:</label>
    <div>
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysMonday" value="Monday" (change)="toggleDay('Monday')" [checked]="isDaySelected('Monday')" class="form-check-input">
          Monday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysTuesday" value="Tuesday" (change)="toggleDay('Tuesday')" [checked]="isDaySelected('Tuesday')" class="form-check-input">
          Tuesday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysWednesday" value="Wednesday" (change)="toggleDay('Wednesday')" [checked]="isDaySelected('Wednesday')" class="form-check-input">
          Wednesday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysThursday" value="Thursday" (change)="toggleDay('Thursday')" [checked]="isDaySelected('Thursday')" class="form-check-input">
          Thursday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysFriday" value="Friday" (change)="toggleDay('Friday')" [checked]="isDaySelected('Friday')" class="form-check-input">
          Friday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysSaturday" value="Saturday" (change)="toggleDay('Saturday')" [checked]="isDaySelected('Saturday')" class="form-check-input">
          Saturday
      </label> &nbsp;
      <label class="form-check-label">
          <input type="checkbox" name="kitchenWorkingDaysSunday" value="Sunday" (change)="toggleDay('Sunday')" [checked]="isDaySelected('Sunday')" class="form-check-input">
          Sunday
      </label>
    </div>
  </div>

  <div class="mb-3">
    <div class="row g-2">
      <div class="form-group">
          <label for="kitchenWorkingTimeStart">Start Time:</label>
          <input type="time" id="kitchenWorkingTimeStart" name="kitchenWorkingTimeStart"  class="form-control">
      </div>
      
      <div class="form-group">
          <label for="kitchenWorkingTimeEnd">End Time:</label>
          <input type="time" id="kitchenWorkingTimeEnd" name="kitchenWorkingTimeEnd" class="form-control">
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="kitchenImage" class="form-label">Kitchen Image:</label>
    <input type="file" id="kitchenImage" name="kitchenImage" class="form-control">   
  </div>
  <div>
 <input type="file"(change)="onFileSelected($event)">
</div>
  <div class="mb-3">
      <h3 class="mb-3">Kitchen Menu</h3>
      <!-- <div *ngFor="let menuItem of kitchen.menuItems; let i = index">
          <div class="row g-2">
          <div class="col">
              <label class="form-label">Item Name:</label>
              <input type="text" name="itemName{{i}}" [(ngModel)]="menuItem.itemName" class="form-control">
          </div> -->
          <div class="col">
              <label class="form-label">Veg/Non-Veg:</label>
              <!-- <select name="vegNonVeg{{i}}" [(ngModel)]="menuItem.vegNonVeg" class="form-control"> -->
              <option value="Veg">Veg</option>
              <option value="Non-Veg">Non-Veg</option>
              <!-- </select> -->
          </div>
          <div class="col">
              <label class="form-label">Price:</label>
              <!-- <input type="number" name="price{{i}}" [(ngModel)]="menuItem.price" class="form-control"> -->
          </div>
          <div class="col">
              <label class="form-label">Remove Entry:</label>
              <br/>
              <button type="button"  class="btn btn-danger">Delete</button>
          </div>
          </div>
    
      <button type="button"  class="btn btn-secondary mt-3">Add Menu Item</button>
          

  <div class="d-grid gap-2">
    <button type="button" class="btn btn-secondary">Previous</button>
    <button type="button"  class="btn btn-secondary">Cancel</button>
    <button type="submit" [disabled]="registerForm2.invalid" class="btn btn-primary">Save</button>
  </div>
</form>












<!-- <div class="container mt-3">
    <div class="container">
<h2>Kitchen working Days:</h2>
<div class="form-check">
    <p><span>Select work day</span><span>Select work time</span></p>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Monday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
        <label for="appt"></label>
        <input type="time" id="appt" name="appt">     
  </div> 
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Tuesday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input type="time" id="appt" name="appt">
  </div> 
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Wednesday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input type="time" id="appt" name="appt">
  </div>  
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Thursday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input type="time" id="appt" name="appt">
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Friday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input type="time" id="appt" name="appt">
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Saturday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input type="time" id="appt" name="appt">
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">Sunday</label>
    &nbsp;&nbsp;  &nbsp;&nbsp; 
    <label for="appt"></label>
    <input style="color: #bd2121;"  type="time" id="appt" name="appt">
  </div>
  <button type="submit" class="btn btn-primary mt-3" (click)="confirmation()"routerLink="/products">Save</button>&nbsp;&nbsp; 
  <button type="submit" class="btn btn-danger mt-3"routerLink="/products">Cancel</button>
    </div>
</div> -->


